<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Class</title>
	</head>
	<body>
		<section id="wolf-app"></section>
		<span id="<%= class_id %>" class="class-id-span"></span>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/static/js/class.js"></script>
	</body>
</html>